{{#each this}}
<div class="card">
    <div class="card-img-top">
        <img src="{{artecles.urlToImage}}" alt="{{articles.source.name}}">
    </div>
    <div class="card-body">
        <h2 class="card-title">Назва статті: {{articles.source.name}}</h2>
        <p class="card-text">Опис: {{articles.description}}</p>

    </div>
</div>
{{/each}}